*{
    margin: 0%;
    padding: 0%;
}

.imagenfondo{
    background-image: url(./img/fondo\ menu.jpg);
}

.imgProductos {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    box-shadow: 5rem;
}

.colorBoton {
    margin-bottom: 50px;
    color: white;
    background-color:cornflowerblue;

}

.colorBoton:hover {
    background-color:navy;
    color: white;
}